*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 5px 200px;
    
}

.header{
    background-color: gold;
    height: 100px;
}

.nav{
    background-color:green ;
    height: 70px;
}
.content{
    background-color: grey;
    height: 500px;
}
.footer{
    background-color: black;
    height:105px ;
}