*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 5px 150px;

}

.header{
    background-color:wheat;
    height: 120px;


}
.navbar{
    background-color: yellowgreen;
    height: 75px;
}
.content{
    background-color: violet;
    height: 500px;
    width: 75%;
    float: left;
}
.rightsidebar{
    background-color: turquoise;
    height: 500px;
    width: 25%;
    float: right;
}
.container::after{
    content: "";
    clear: both;
    display: block;
    *zoom: 1;

}
.footer{
    background-color: black;
    height: 90px;
}

